.App {
  color: #333;
  background-color: #f3e9e3;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  margin-bottom: 3rem;
}

.App-header {
  font-size: calc(10px + 2vmin);
}

.App-body {
  text-align: center;
  font-size: max(10pt, 1vmin);
  max-width: 65ch;
}
